Source: cairo
Section: libs
Priority: optional
Maintainer: Dave Beckett <dajobe@debian.org>
Uploaders: Sebastian Dröge <slomo@debian.org>
Build-Depends: debhelper (>= 5.0.22), dpkg-dev (>= 1.14.13), autotools-dev, pkg-config (>= 0.19), libfontconfig1-dev, libfreetype6-dev (>= 2.1.10), libxrender-dev (>= 0.6.0), libx11-dev, libpng12-dev, libdirectfb-dev (>= 0.9.25), libsm-dev, xutils-dev, libxt-dev, dpatch, libpixman-1-dev (>= 0.12.0), libxcb1-dev (>= 0.9.92), libxcb-render0-dev (>= 0.9.92), libxcb-render-util0-dev
Standards-Version: 3.8.1
Homepage: http://cairographics.org/

Package: libcairo2-dev
Provides: libcairo-dev
Conflicts: libcairo-dev, libcairo0.5.1-dev, libcairo0.6.0-dev, libcairo0.9.0-dev, libcairo-directfb2-dev (<< 1.8.2-2)
Replaces: libcairo0.5.1-dev, libcairo0.6.0-dev, libcairo0.9.0-dev
Suggests: libcairo2-doc
Section: libdevel
Architecture: any
Depends: libcairo2 (= ${binary:Version}), libfontconfig1-dev, libfreetype6-dev (>= 2.1.10), libxrender-dev (>= 0.6.0), libpng12-dev, libdirectfb-dev (>= 0.9.25), libsm-dev, libpixman-1-dev (>= 0.12.0), libxcb1-dev, libxcb-render0-dev, libxcb-render-util0-dev
Description: Development files for the Cairo 2D graphics library
 Cairo is a multi-platform library providing anti-aliased
 vector-based rendering for multiple target backends.
 .
 This package contains the development libraries, header files needed by
 programs that want to compile with Cairo.

Package: libcairo2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Provides: libcairo
Conflicts: libcairo1
Replaces: libcairo0.5.1, libcairo0.6.0, libcairo0.9.0, libcairo1
Description: The Cairo 2D vector graphics library
 Cairo is a multi-platform library providing anti-aliased
 vector-based rendering for multiple target backends. Paths consist
 of line segments and cubic splines and can be rendered at any width
 with various join and cap styles. All colors may be specified with
 optional translucence (opacity/alpha) and combined using the
 extended Porter/Duff compositing algebra as found in the X Render
 Extension.
 .
 Cairo exports a stateful rendering API similar in spirit to the path
 construction, text, and painting operators of PostScript, (with the
 significant addition of translucence in the imaging model). When
 complete, the API is intended to support the complete imaging model of
 PDF 1.4.
 .
 This package contains the shared libraries.

Package: libcairo2-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: libcairo2 (= ${binary:Version})
Description: The Cairo 2D vector graphics library (debugging symbols)
 Debugging symbols for the Cairo 2D vector graphics library. This is
 needed to debug programs linked against libcairo2.

Package: libcairo2-doc
Section: doc
Architecture: all
Depends: lynx | www-browser
Conflicts: libcairo0.5.1-doc, libcairo0.6.0-doc, libcairo0.9.0-doc
Replaces: libcairo0.5.1-doc, libcairo0.6.0-doc, libcairo0.9.0-doc
Description: Documentation for the Cairo Multi-platform 2D graphics library
 Cairo is a multi-platform library providing anti-aliased
 vector-based rendering for multiple target backends.
 .
 This package contains the HTML documentation for the Cairo library
 in /usr/share/gtk-doc/html/cairo/.

Package: libcairo-directfb2-udeb
XC-Package-Type: udeb
Section: debian-installer
Architecture: any
Depends: ${shlibs:Depends}
Description: The Cairo 2D vector graphics library DirectFB build
 Cairo is a multi-platform library providing anti-aliased
 vector-based rendering for multiple target backends.
 .
 This is version of cairo with only the DirectFB backend, intended
 primarily for use in the graphical Debian installer.

Package: libcairo-directfb2
Section: libs
Architecture: any
Depends: libcairo2 (= ${binary:Version})
Provides: libcairo-directfb
Conflicts: libcairo2-directfb
Replaces: libcairo2-directfb
Description: The Cairo 2D vector graphics library DirectFB build (dummy package)
 Cairo is a multi-platform library providing anti-aliased
 vector-based rendering for multiple target backends.
 .
 This is a legacy compatibility package that provides files at locations 
 that are deprecated now. Anything required to run Cairo+DirectFB 
 binaries is in the libcairo2 package.

Package: libcairo-directfb2-dev
Section: libdevel
Architecture: any
Conflicts: libcairo2-directfb-dev
Replaces: libcairo2-directfb-dev
Depends: libcairo-directfb2 (= ${binary:Version}), libcairo2-dev (= ${binary:Version})
Description: Development files for Cairo graphics library DirectFB build (dummy package)
 Cairo is a multi-platform library providing anti-aliased
 vector-based rendering for multiple target backends.
 .
 This is a legacy compatibility package that provides files at locations 
 that are deprecated now. Anything required to build Cairo+DirectFB 
 binaries is in the libcairo2-dev package.

