#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
# --disable-xcb just to be sure. Otherwise Build-Depend etc. on libxcb1-dev
#
# --enable-glitz just to be sure
DEB_CONFIGURE_USER_FLAGS=--disable-xcb --enable-glitz

# make sure it depends on >=current-version
DEB_DH_MAKESHLIBS_ARGS_ALL=-V

UPVERSION = $(shell dpkg-parsechangelog | grep ^Vers | cut -d\  -f2 | sed 's,-.*,,')

pre-build:: debian/control 

debian/control:: debian/control.in
	sed -e 's/@UPVERSION@/${UPVERSION}/g' $@.in > $@
